* {
  font-family: 'Gothic A1', sans-serif;
}

#container {
  padding: 50px;
}

#button {
  border-radius: 30px;
  width: 100%;
  background-color: #42b883;
  height: 130px;
  border: none;
  margin-top: 0;
}

#buttonNood {
  width: 100%;
  background-color: white;
  border-radius: 30px;
  border: 5px solid;
  border-color: #42b883;
  height: 130px;
  margin-top: 30px;
}

.buttonText {
  font-size: 50px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

a:visited {
  color: #0e7de3;
}
#circleButton {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  background-color: #c8f3e0;
  color: #42b883;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#headerTitle {
  font-size: 70px;
  font-weight: 700;
}

#inputsWrapper {
  margin: 120px 0 30px 0;
}

.inputWrapper {
  margin: 100px 0 60px 0;
  flex-direction: column;
  display: flex;
}

.label {
  font-weight: 500;
  font-size: 30px;
  color: #828282;
}

.input {
  margin-top: 30px;
  background-color: white;
  color: black;
  border: none;
  border-bottom-color: #ededed;
  border-bottom: 1px solid;
  font-size: 40px;
  padding-bottom: 20px;
}
.input:focus {
  outline: none;
}
